*{
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
input{
    padding: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
}
.erroring{
    border: 1px solid red;
}
#error{
    color: red;
}
table {
    border-collapse: collapse;
    text-align-last: center;
    width: 80%;
}

td, th {
    height: 30px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    text-align: center;
}