.primary{
    padding: 1rem;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  .save-btn{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 1rem;
  }
  .saving{
    padding: 1rem;
    background-color: white;
    color: black;
    border: 2px solid rgb(24, 219, 10);
  }
